/* COLORS */

$background-color: #fff; 
$base-color: #40ccf0; 
$base-color-dark: #5aa8bc; 
$base-color-light: #d9f7ff; 
$base-color-highlight: #b0eeff; 
$accent-color: #fdc0c0; 

$pale-neutral-color: #fff6cd; 

$public-color: #aaca45; 
$private-color: #666; 

$happy-color: #d5ffcf; 
$happy-dark-color: #54d454; 
$neutral-color: #fff6cd; 
$neutral-dark-color: #ceb61c; 
$sad-color: #ffcdcd; 
$sad-dark-color: #f99; 